@keyframes shake
{
from {top: 185px;}
to {top: 230px;}
}

@-moz-keyframes shake /* Firefox */
{
from {top: 185px;}
to {top: 230px;}
}

@-webkit-keyframes shake /* Safari and Chrome */
{
from {top: 185px;}
to {top: 230px;}
}

@-o-keyframes shake /* Opera */
{
from {top: 185px;}
to {top: 230px;}
}


html,body {
    height: 100%;
}

body {
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    margin: 0;
    background: #e1c192 url(../img/wood_pattern.jpg);
}

/*--------------------*/
#login, #register {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    /*height: 240px;*/
    width: 400px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);

    opacity: 0;


  -webkit-transform: translate3d(200%, 0, 0) scale3d(.2, .2, .2);
  -moz-transform: translate3d(200%, 0, 0) scale3d(.2, .2, .2);
  -ms-transform: translate3d(200%, 0, 0) scale3d(.2, .2, .2);
  -o-transform: translate3d(200%, 0, 0) scale3d(.2, .2, .2);
  transform: translate3d(200%, 0, 0) scale3d(.2, .2, .2);
  
  -webkit-transition: -webkit-transform 500ms ease, opacity 800ms ease;
  -moz-transition: -moz-transform 500ms ease, opacity 800ms ease;
  -o-transition: -o-transform 500ms ease, opacity 800ms ease;
  transition: transform 500ms ease, opacity 800ms ease;

}

#login.show,#register.show{
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);

    opacity: 1;
} 
#login.shake,#register.shake{
    animation: shake .1s ease-in-out .1s 5 alternate;
    -moz-animation: shake .1s ease-in-out .1s 5 alternate; /* Firefox */
    -webkit-animation: shake .1s ease-in-out .1s 5 alternate; /* Safari and Chrome */
    -o-animation: shake .1s ease-in-out .1s 5 alternate; /* Opera */

}  


#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/
h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

/*--------------------*/
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/
#inputs input {
    background: #f1f1f1 url(../img/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
border: 1px solid #ccc;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;

    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions {
    margin: 12px 0 0 0;
}

#submit {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));

    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 45px;
    padding: 0;
    width: 400px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover,#submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));

    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#submit:active {
    outline: none;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
    border: none;
}

#actions a {
    color: #3151A2;
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/
#back {
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #000;
}

.create-account,.login-account {
    color: #4988b6;
    text-align: center;
    padding: 20px 0 0 0;
    font-variant: small-caps;
    font-size: 1.3em;
    cursor: pointer;
}

