@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

/* line 20, ../sass/css/_style.scss */
#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001; }

/* line 28, ../sass/css/_style.scss */
#popup2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001; }

/* line 35, ../sass/css/_style.scss */
.content-popup {
  margin: 0px auto;
  margin-top: 20px;
  width: 700px;
  min-height: 262px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px #666666;
  border: 1px solid #f2e3d2;
  background: #c9b7a2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
  background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
  background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  text-decoration: none;
  vertical-align: middle;
  padding: 10px; }

/* line 63, ../sass/css/_style.scss */
.close {
  position: relative;
  float: right; }

/* line 68, ../sass/css/_style.scss */
footer ul li img {
  width: 170px;
  height: 170px;
  padding-left: 5px;
  cursor: pointer;
  float: left; }

                                                 /* Tabs #tabs {width:100%;height:40px;}
#tabs li {float:left;margin-right:5px;}
#tabs li a { display:block; padding:3px 6px; text-decoration:none; }
#tabs li.on a { background:#F76300;color:#fff; } /* background for active tab */
                     /*
.tab {display:none;} /* hide tabs */
/*.tab {border:1px solid #ddd;padding:15px;border-bottom:2px solid;}

h2 {font-size:16px;line-height:24px;border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;} 
li a {-moz-border-radius:5px;-webkit-border-radius:5px;} 
a:hover {color:#000;} #links a {color:#fff;}
*/
/*Menu Arriba*/
/* line 92, ../sass/css/_style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right; }

/* line 100, ../sass/css/_style.scss */
nav li {
  float: left; }

/*--------------------*/
/* line 106, ../sass/css/_style.scss */
#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset; }

/* line 120, ../sass/css/_style.scss */
#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset; }

/*--------------------*/
/* line 131, ../sass/css/_style.scss */
nav a {
  background-color: #d14545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
  background-image: -webkit-linear-gradient(top, #e97171, #d14545);
  background-image: -moz-linear-gradient(top, #e97171, #d14545);
  background-image: -ms-linear-gradient(top, #e97171, #d14545);
  background-image: -o-linear-gradient(top, #e97171, #d14545);
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 17px;
  padding: 3px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
  text-decoration: none; }

/* line 157, ../sass/css/_style.scss */
nav a:hover,
nav a:focus {
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(top, #d14545, #e97171); }

/* line 167, ../sass/css/_style.scss */
nav a:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

/* line 174, ../sass/css/_style.scss */
nav a::-moz-focus-inner {
  border: none; }

/* line 178, ../sass/css/_style.scss */
#login label {
  float: right;
  line-height: 30px; }

/* line 183, ../sass/css/_style.scss */
#login label input {
  position: relative;
  top: 2px;
  right: 2px; }

/*----------------------*/
/* line 192, ../sass/css/_style.scss */
.cf:before,
.cf:after {
  content: "";
  display: table; }

/* line 197, ../sass/css/_style.scss */
.cf:after {
  clear: both; }

/* line 201, ../sass/css/_style.scss */
.cf {
  zoom: 1; }

/*----------------------*/
/* line 207, ../sass/css/_style.scss */
header {
  padding: 5px;
  -moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset; }

/*Tab 2 Popup*/
/* line 215, ../sass/css/_style.scss */
#mods_sel {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #f0f0f0;
  border-top-color: #c2c2c2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  margin: 66px auto;
  padding: 8px;
  overflow: hidden;
  width: 682px; }

/* line 230, ../sass/css/_style.scss */
#mods_sel a {
  background: url(../img/icono2.png) no-repeat scroll 14px 11px #e55e48;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 91px;
  line-height: 46px;
  padding: 0 42px 0 94px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-out 0s;
  width: 201px;
  -moz-transition: background-color 0.2s ease-out 0s;
  -webkit-moz-transition: background-color 0.2s ease-out 0s;
  -o-moz-transition: background-color 0.2s ease-out 0s;
  -ms-moz-transition: background-color 0.2s ease-out 0s; }

/* line 256, ../sass/css/_style.scss */
#mods_sel a + span + a {
  background: url(../img/icono.png) no-repeat scroll 261px 13px #5faae3;
  padding: 0 94px 0 42px; }

/* line 261, ../sass/css/_style.scss */
#mods_sel a + span {
  background: url(../img/o.png) no-repeat 0px 18px;
  display: block;
  float: left;
  height: 68px;
  margin: 0 -22px;
  position: relative;
  text-indent: -9999px;
  width: 51px;
  z-index: 1; }

/* line 272, ../sass/css/_style.scss */
#mods_sel a:hover {
  background-color: #454242; }

/* line 273, ../sass/css/_style.scss */
#title_popup {
  font-family: 'Open Sans Semibold' ,sans-serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  margin: 10px 0px; }

/* line 280, ../sass/css/_style.scss */
.form-field {
  border: 1px solid #c9b7a2;
  background: #e4d5c3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  padding: 8px;
  margin-bottom: 20px;
  width: 280px; }

/* line 295, ../sass/css/_style.scss */
.text-form {
  font-family: 'Open Sans Semibold' ,sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 20px; }

/* line 1, ../sass/_menu.scss */
#wardrobemenu {
  float: left;
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 300px;
  top: 100px;
  border-radius: 10px;
  padding: 20px;
  left: -330px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-transition: all, ease-in-out, 0.3s;
  -moz-transition: all, ease-in-out, 0.3s;
  -o-transition: all, ease-in-out, 0.3s;
  transition: all, ease-in-out, 0.3s;
  border: solid 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.8;
  z-index: 1000; }

/* line 25, ../sass/_menu.scss */
#wardrobemenu li {
  width: 85%;
  padding: 10px;
  font-size: 1.5em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
  /* line 31, ../sass/_menu.scss */
  #wardrobemenu li:last-child {
    border-bottom: none; }
  /* line 34, ../sass/_menu.scss */
  #wardrobemenu li a {
    display: inline-block;
    text-decoration: none; }
  /* line 41, ../sass/_menu.scss */
  #wardrobemenu li .delete {
    position: relative;
    float: right;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/menu-delete.png") no-repeat;
    background-size: 30px;
    -webkit-transition: background-size 0.2s ease;
    -moz-transition: background-size 0.2s ease;
    -o-transition: background-size 0.2s ease;
    transition: background-size 0.2s ease; }
    /* line 50, ../sass/_menu.scss */
    #wardrobemenu li .delete:hover {
      background-size: 35px; }
  /* line 54, ../sass/_menu.scss */
  #wardrobemenu li .edit {
    position: relative;
    float: right;
    margin: 0 10px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/menu-edit.png") no-repeat;
    background-size: 30px;
    -webkit-transition: background-size 0.2s ease;
    -moz-transition: background-size 0.2s ease;
    -o-transition: background-size 0.2s ease;
    transition: background-size 0.2s ease; }
    /* line 64, ../sass/_menu.scss */
    #wardrobemenu li .edit:hover {
      background-size: 35px; }
/* line 69, ../sass/_menu.scss */
#wardrobemenu #link {
  position: absolute;
  right: 8px;
  top: -3px;
  overflow: none;
  background: url("../img/menuOpen.png") no-repeat;
  width: 30px;
  height: 350px;
  z-index: 99999;
  cursor: pointer; }
  /* line 80, ../sass/_menu.scss */
  #wardrobemenu #link.close {
    background: url("../img/menuClose.png") no-repeat; }
/* line 85, ../sass/_menu.scss */
#wardrobemenu:hover {
  opacity: 1;
  left: -319px; }
/* line 89, ../sass/_menu.scss */
#wardrobemenu.show {
  position: absolute;
  left: -5px;
  opacity: 1; }

/* line 1, ../sass/_newstyle.scss */
#containeri, #containerp {
  width: 70%;
  display: inline-block; }
  /* line 4, ../sass/_newstyle.scss */
  #containeri canvas, #containerp canvas {
    width: 100% !important;
    display: inline-block; }

/* line 10, ../sass/_newstyle.scss */
#acc_ints {
  height: 350px;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  width: 25% !important; }
  /* line 16, ../sass/_newstyle.scss */
  #acc_ints h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 10px; }
  /* line 22, ../sass/_newstyle.scss */
  #acc_ints li {
    padding: 5px 0 5px 5px;
    font-size: 1.1em;
    border-top: 1px dashed #000; }
    /* line 26, ../sass/_newstyle.scss */
    #acc_ints li:first-child {
      border-top: none; }
    /* line 29, ../sass/_newstyle.scss */
    #acc_ints li.module {
      border: none; }
  /* line 33, ../sass/_newstyle.scss */
  #acc_ints a {
    clear: both;
    display: inline-block;
    vertical-align: top; }
    /* line 34, ../sass/_newstyle.scss */
    #acc_ints a img {
      width: 20px; }

/* Popup content CLASS */
/* line 45, ../sass/_newstyle.scss */
#materiales, #mat_puerta, #sel_interiores, #handles, #distribucionPuerta {
  overflow-y: scroll;
  height: 400px;
  clear: both;
  padding-top: 10px; }
  /* line 52, ../sass/_newstyle.scss */
  #materiales .content, #mat_puerta .content, #sel_interiores .content, #handles .content, #distribucionPuerta .content {
    width: 90%;
    margin: 0 5%; }
    /* line 55, ../sass/_newstyle.scss */
    #materiales .content .element, #mat_puerta .content .element, #sel_interiores .content .element, #handles .content .element, #distribucionPuerta .content .element {
      border-radius: 5px;
      margin: 3px 0;
      border: 3px solid rgba(0, 0, 0, 0.1);
      height: 15em;
      width: 32%;
      display: inline-block;
      -webkit-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.1s ease-in-out;
      -moz-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -moz-transform 0.1s ease-in-out;
      -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -o-transform 0.1s ease-in-out;
      transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s ease-in-out; }
      /* line 64, ../sass/_newstyle.scss */
      #materiales .content .element:hover, #mat_puerta .content .element:hover, #sel_interiores .content .element:hover, #handles .content .element:hover, #distribucionPuerta .content .element:hover {
        background-color: #dfb178;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        -moz-transform: scale3d(1.05, 1.05, 1.05);
        -ms-transform: scale3d(1.05, 1.05, 1.05);
        -o-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
      /* line 71, ../sass/_newstyle.scss */
      #materiales .content .element .picture img, #mat_puerta .content .element .picture img, #sel_interiores .content .element .picture img, #handles .content .element .picture img, #distribucionPuerta .content .element .picture img {
        margin: 5%;
        width: 90%;
        height: 10em; }
      /* line 77, ../sass/_newstyle.scss */
      #materiales .content .element .title, #mat_puerta .content .element .title, #sel_interiores .content .element .title, #handles .content .element .title, #distribucionPuerta .content .element .title {
        text-align: center;
        line-height: 20px;
        font-size: 1em;
        font-weight: bold;
        height: 5em; }

/* Popup de materiales */
/* line 90, ../sass/_newstyle.scss */
#sel_parent {
  font-size: 18px;
  height: 40px;
  position: relative;
  left: 10px;
  top: 10px; }

/* line 104, ../sass/_newstyle.scss */
#mat_puerta .content .element .title {
  line-height: 12px; }

/* line 117, ../sass/_newstyle.scss */
#handles .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 133, ../sass/_newstyle.scss */
#acc_ext .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 149, ../sass/_newstyle.scss */
#sel_interiores .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 165, ../sass/_newstyle.scss */
#distribucionPuerta .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 175, ../sass/_newstyle.scss */
#sel_marco {
  height: 350px;
  vertical-align: top;
  display: inline-block;
  width: 25% !important;
  margin-top: -5px; }
  /* line 181, ../sass/_newstyle.scss */
  #sel_marco #marco_sel {
    margin: 5px 0px 15px 0px;
    clear: both;
    display: block; }
    /* line 185, ../sass/_newstyle.scss */
    #sel_marco #marco_sel h2 {
      font-size: 1em;
      line-height: 1.5em;
      margin-top: -10px; }
    /* line 191, ../sass/_newstyle.scss */
    #sel_marco #marco_sel img {
      display: block;
      margin: 5px 0px;
      width: 75%; }

/* line 206, ../sass/_newstyle.scss */
.submit-button {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #8dc059), color-stop(100%, #6aa436)), #6aa436;
  background: -webkit-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: -moz-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: -o-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #addc7e 0 1px 0;
  color: #31540c;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #447314; }
  /* line 229, ../sass/_newstyle.scss */
  .no-cssgradients .submit-button {
    background: url(semiems/img/site/button-shader.png) left center repeat-x, #6aa436; }
  /* line 235, ../sass/_newstyle.scss */
  .no-multiplebgs .submit-button {
    background-color: #6aa436; }
  /* line 239, ../sass/_newstyle.scss */
  .submit-button:hover, .submit-button:focus {
    text-shadow: #537a4a 0 1px 0;
    color: #FFF; }
  /* line 243, ../sass/_newstyle.scss */
  .submit-button:active {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6aa436), color-stop(100%, #8dc059)), #6aa436;
    background: -webkit-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: -moz-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: -o-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: linear-gradient(top, #6aa436, #8dc059), #6aa436;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 249, ../sass/_newstyle.scss */
    .no-cssgradients .submit-button:active {
      background: url(semiems/img/site/button-shader.png) left center repeat-x, #5e9130; }
    /* line 255, ../sass/_newstyle.scss */
    .no-multiplebgs .submit-button:active {
      background-color: #5e9130;
      border-color: #FFF; }

/* line 261, ../sass/_newstyle.scss */
.kineticjs-content1 {
  position: relative;
  left: 200px;
  -webkit-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -moz-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -ms-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -o-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0); }
