@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

/* line 20, ../sass/css/_style.scss */
#content, #config {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4em; }
  /* line 21, ../sass/css/_style.scss */
  #content h2, #content h1, #config h2, #config h1 {
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 30px; }
    /* line 25, ../sass/css/_style.scss */
    #content h2:before, #content h1:before, #config h2:before, #config h1:before {
      content: "# "; }

/* line 35, ../sass/css/_style.scss */
#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001; }

/* line 43, ../sass/css/_style.scss */
#popup2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001; }

/* line 50, ../sass/css/_style.scss */
.content-popup {
  margin: 0px auto;
  margin-top: 20px;
  width: 700px;
  min-height: 262px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px #666666;
  border: 1px solid #f2e3d2;
  background: #c9b7a2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
  background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
  background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  text-decoration: none;
  vertical-align: middle;
  padding: 10px; }

/* line 78, ../sass/css/_style.scss */
.close {
  position: relative;
  float: right; }

/* line 83, ../sass/css/_style.scss */
footer ul li img {
  width: 170px;
  height: 170px;
  padding-left: 5px;
  cursor: pointer;
  float: left; }

                                                 /* Tabs #tabs {width:100%;height:40px;}
#tabs li {float:left;margin-right:5px;}
#tabs li a { display:block; padding:3px 6px; text-decoration:none; }
#tabs li.on a { background:#F76300;color:#fff; } /* background for active tab */
                     /*
.tab {display:none;} /* hide tabs */
/*.tab {border:1px solid #ddd;padding:15px;border-bottom:2px solid;}

h2 {font-size:16px;line-height:24px;border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;} 
li a {-moz-border-radius:5px;-webkit-border-radius:5px;} 
a:hover {color:#000;} #links a {color:#fff;}
*/
/*Menu Arriba*/
/* line 107, ../sass/css/_style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right; }

/* line 115, ../sass/css/_style.scss */
nav li {
  float: left; }

/*--------------------*/
/* line 121, ../sass/css/_style.scss */
#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset; }

/* line 135, ../sass/css/_style.scss */
#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset; }

/*--------------------*/
/* line 146, ../sass/css/_style.scss */
nav a {
  background-color: #d14545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
  background-image: -webkit-linear-gradient(top, #e97171, #d14545);
  background-image: -moz-linear-gradient(top, #e97171, #d14545);
  background-image: -ms-linear-gradient(top, #e97171, #d14545);
  background-image: -o-linear-gradient(top, #e97171, #d14545);
  background-image: linear-gradient(to bottom, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 17px;
  padding: 3px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
  text-decoration: none; }

/* line 172, ../sass/css/_style.scss */
nav a:hover,
nav a:focus {
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(to bottom, #d14545, #e97171); }

/* line 182, ../sass/css/_style.scss */
nav a:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

/* line 189, ../sass/css/_style.scss */
nav a::-moz-focus-inner {
  border: none; }

/* line 193, ../sass/css/_style.scss */
#login label {
  float: right;
  line-height: 30px; }

/* line 198, ../sass/css/_style.scss */
#login label input {
  position: relative;
  top: 2px;
  right: 2px; }

/*----------------------*/
/* line 207, ../sass/css/_style.scss */
.cf:before,
.cf:after {
  content: "";
  display: table; }

/* line 212, ../sass/css/_style.scss */
.cf:after {
  clear: both; }

/* line 216, ../sass/css/_style.scss */
.cf {
  zoom: 1; }

/*----------------------*/
/* line 222, ../sass/css/_style.scss */
header {
  padding: 5px;
  -moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset; }

/*Tab 2 Popup*/
/* line 230, ../sass/css/_style.scss */
#mods_sel {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #f0f0f0;
  border-top-color: #c2c2c2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  margin: 66px auto;
  padding: 8px;
  overflow: hidden;
  width: 682px; }

/* line 245, ../sass/css/_style.scss */
#mods_sel a {
  background: url(../img/icono2.png) no-repeat scroll 14px 11px #e55e48;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 91px;
  line-height: 46px;
  padding: 0 42px 0 94px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-out 0s;
  width: 201px;
  -moz-transition: background-color 0.2s ease-out 0s;
  -webkit-moz-transition: background-color 0.2s ease-out 0s;
  -o-moz-transition: background-color 0.2s ease-out 0s;
  -ms-moz-transition: background-color 0.2s ease-out 0s; }

/* line 271, ../sass/css/_style.scss */
#mods_sel a + span + a {
  background: url(../img/icono.png) no-repeat scroll 261px 13px #5faae3;
  padding: 0 94px 0 42px; }

/* line 276, ../sass/css/_style.scss */
#mods_sel a + span {
  background: url(../img/o.png) no-repeat 0px 18px;
  display: block;
  float: left;
  height: 68px;
  margin: 0 -22px;
  position: relative;
  text-indent: -9999px;
  width: 51px;
  z-index: 1; }

/* line 287, ../sass/css/_style.scss */
#mods_sel a:hover {
  background-color: #454242; }

/* line 288, ../sass/css/_style.scss */
#title_popup {
  font-family: 'Open Sans Semibold' ,sans-serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  margin: 10px 0px; }

/* line 295, ../sass/css/_style.scss */
.form-field {
  border: 1px solid #c9b7a2;
  background: #e4d5c3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  padding: 8px;
  margin-bottom: 20px;
  width: 280px; }

/* line 310, ../sass/css/_style.scss */
.text-form {
  font-family: 'Open Sans Semibold' ,sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 20px; }

/* line 317, ../sass/css/_style.scss */
#frm .medidas {
  position: relative;
  bottom: 30px;
  left: 30px;
  height: 0px; }
  /* line 322, ../sass/css/_style.scss */
  #frm .medidas .closet {
    position: relative;
    display: inline-block;
    left: 500px;
    top: 25px;
    height: 250px;
    overflow: hidden; }
  /* line 330, ../sass/css/_style.scss */
  #frm .medidas .ancho {
    position: relative;
    display: inline-block;
    bottom: 70px;
    left: 365px; }
  /* line 336, ../sass/css/_style.scss */
  #frm .medidas .alto {
    position: relative;
    display: inline-block;
    bottom: 195px;
    left: 705px; }
  /* line 343, ../sass/css/_style.scss */
  #frm .medidas .profundidad {
    position: relative;
    display: inline-block;
    bottom: 295px;
    left: 230px; }
  /* line 349, ../sass/css/_style.scss */
  #frm .medidas .heights-text {
    position: relative;
    bottom: 300px;
    left: 456px;
    font-weight: bold; }
/* line 356, ../sass/css/_style.scss */
#frm .type-of-doors {
  position: relative;
  top: 30px;
  left: 30px;
  width: 30%;
  padding: 20px;
  line-height: 2em;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.6); }

/* line 1, ../sass/_menu.scss */
#wardrobemenu {
  float: left;
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 300px;
  top: 129px;
  border-radius: 10px;
  padding: 20px;
  left: -330px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-transition: all, ease-in-out, 0.3s;
  -moz-transition: all, ease-in-out, 0.3s;
  -o-transition: all, ease-in-out, 0.3s;
  transition: all, ease-in-out, 0.3s;
  border: solid 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.8; }

/* line 22, ../sass/_menu.scss */
#wardrobemenu li {
  width: 85%;
  padding: 10px;
  font-size: 1.5em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
  /* line 28, ../sass/_menu.scss */
  #wardrobemenu li:last-child {
    border-bottom: none; }
  /* line 31, ../sass/_menu.scss */
  #wardrobemenu li a {
    display: inline-block;
    text-decoration: none; }
  /* line 38, ../sass/_menu.scss */
  #wardrobemenu li .delete {
    position: relative;
    float: right;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/menu-delete.png") no-repeat;
    background-size: 30px;
    -webkit-transition: background-size 0.2s ease;
    -moz-transition: background-size 0.2s ease;
    -o-transition: background-size 0.2s ease;
    transition: background-size 0.2s ease; }
    /* line 47, ../sass/_menu.scss */
    #wardrobemenu li .delete:hover {
      background-size: 35px; }
  /* line 51, ../sass/_menu.scss */
  #wardrobemenu li .edit {
    position: relative;
    float: right;
    margin: 0 10px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/menu-edit.png") no-repeat;
    background-size: 30px;
    -webkit-transition: background-size 0.2s ease;
    -moz-transition: background-size 0.2s ease;
    -o-transition: background-size 0.2s ease;
    transition: background-size 0.2s ease; }
    /* line 61, ../sass/_menu.scss */
    #wardrobemenu li .edit:hover {
      background-size: 35px; }
/* line 66, ../sass/_menu.scss */
#wardrobemenu #link {
  position: absolute;
  right: 8px;
  top: -3px;
  overflow: none;
  background: url("../img/menuOpen.png") no-repeat;
  width: 30px;
  height: 350px;
  z-index: 10;
  cursor: pointer; }
  /* line 76, ../sass/_menu.scss */
  #wardrobemenu #link.close {
    background: url("../img/menuClose.png") no-repeat; }
/* line 81, ../sass/_menu.scss */
#wardrobemenu:hover {
  opacity: 1;
  left: -319px; }
/* line 85, ../sass/_menu.scss */
#wardrobemenu.show {
  left: -5px;
  opacity: 1;
  z-index: 4; }

/* line 1, ../sass/_newstyle.scss */
.floater {
  float: left; }

/* line 4, ../sass/_newstyle.scss */
a {
  cursor: pointer; }

/* line 8, ../sass/_newstyle.scss */
#header {
  margin-bottom: 40px;
  height: 3em;
  background-color: rgba(51, 51, 51, 0.7);
  text-align: right; }
  /* line 16, ../sass/_newstyle.scss */
  #header #nav {
    position: relative;
    right: 20px; }
  /* line 21, ../sass/_newstyle.scss */
  #header h1 {
    font-size: 20px;
    font-variant: small-caps;
    color: #ddd;
    display: inline-block; }
  /* line 27, ../sass/_newstyle.scss */
  #header #close-btn {
    float: none; }

/* MIXIN BUTTON MOVEMENT*/
@-moz-keyframes click-animation {
  /* line 99, ../sass/_newstyle.scss */
  0%, 100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  /* line 102, ../sass/_newstyle.scss */
  50% {
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); } }

@-webkit-keyframes click-animation {
  /* line 99, ../sass/_newstyle.scss */
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  /* line 102, ../sass/_newstyle.scss */
  50% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); } }

@-o-keyframes click-animation {
  /* line 99, ../sass/_newstyle.scss */
  0%, 100% {
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  /* line 102, ../sass/_newstyle.scss */
  50% {
    -o-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); } }

@-ms-keyframes click-animation {
  /* line 99, ../sass/_newstyle.scss */
  0%, 100% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  /* line 102, ../sass/_newstyle.scss */
  50% {
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); } }

@keyframes click-animation {
  /* line 99, ../sass/_newstyle.scss */
  0%, 100% {
    transform: scale3d(1, 1, 1); }

  /* line 102, ../sass/_newstyle.scss */
  50% {
    transform: scale3d(0.9, 0.9, 0.9); } }

/* line 108, ../sass/_newstyle.scss */
#menu_right {
  float: left;
  /* Config BUTTON */ }
  /* line 110, ../sass/_newstyle.scss */
  #menu_right .clicked#back-btn {
    -webkit-animation: click-animation 0.3s 1;
    -moz-animation: click-animation 0.3s 1;
    -ms-animation: click-animation 0.3s 1;
    -o-animation: click-animation 0.3s 1;
    animation: click-animation 0.3s 1; }
  /* line 115, ../sass/_newstyle.scss */
  #menu_right #help-btn {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    background-color: rgba(200, 200, 200, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #52554f 0 1px 0;
    position: relative;
    top: 0px;
    left: 30px;
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: left;
    margin-left: 5px;
    cursor: pointer; }
    /* line 62, ../sass/_newstyle.scss */
    #menu_right #help-btn .background {
      background: url("../img/help-blue-btn.png") no-repeat top left;
      background-size: 32px;
      width: 32px;
      height: 32px;
      display: inline-block;
      float: right; }
    /* line 70, ../sass/_newstyle.scss */
    #menu_right #help-btn .desc {
      text-align: left;
      color: white;
      line-height: 32px;
      vertical-align: top;
      display: none; }
    /* line 82, ../sass/_newstyle.scss */
    #menu_right #help-btn:hover, #menu_right #help-btn:focus {
      width: 111px;
      padding-left: 10px; }
      /* line 85, ../sass/_newstyle.scss */
      #menu_right #help-btn:hover .desc, #menu_right #help-btn:focus .desc {
        display: inline-block; }
  /* line 119, ../sass/_newstyle.scss */
  #menu_right #config-btn {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    background-color: rgba(200, 200, 200, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #52554f 0 1px 0;
    position: relative;
    top: 0px;
    left: 30px;
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: left;
    margin-left: 5px;
    cursor: pointer; }
    /* line 62, ../sass/_newstyle.scss */
    #menu_right #config-btn .background {
      background: url("../img/Gear.png") no-repeat top left;
      background-size: 32px;
      width: 32px;
      height: 32px;
      display: inline-block;
      float: right; }
    /* line 70, ../sass/_newstyle.scss */
    #menu_right #config-btn .desc {
      text-align: left;
      color: white;
      line-height: 32px;
      vertical-align: top;
      display: none; }
    /* line 82, ../sass/_newstyle.scss */
    #menu_right #config-btn:hover, #menu_right #config-btn:focus {
      width: 111px;
      padding-left: 10px; }
      /* line 85, ../sass/_newstyle.scss */
      #menu_right #config-btn:hover .desc, #menu_right #config-btn:focus .desc {
        display: inline-block; }
  /* line 122, ../sass/_newstyle.scss */
  #menu_right #back-btn {
    opacity: 0.3;
    background-color: rgba(200, 200, 200, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #52554f 0 1px 0;
    position: relative;
    top: 0px;
    left: 30px;
    float: left;
    padding: 0 5px 0 5px;
    height: 32px;
    overflow: hidden;
    text-align: left;
    margin-left: 5px;
    cursor: pointer; }
    /* line 62, ../sass/_newstyle.scss */
    #menu_right #back-btn .background {
      background: url("../img/back-button.png") no-repeat top left;
      background-size: 32px;
      width: 32px;
      height: 32px;
      display: inline-block;
      float: left; }
    /* line 70, ../sass/_newstyle.scss */
    #menu_right #back-btn .desc {
      text-align: left;
      color: white;
      line-height: 32px;
      vertical-align: top;
      display: inline-block; }

/* line 132, ../sass/_newstyle.scss */
#start-btn {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  background-color: rgba(60, 60, 60, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #52554f 0 1px 0;
  position: relative;
  top: 0px;
  left: 30px;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-align: left;
  margin-left: 5px;
  cursor: pointer; }
  /* line 62, ../sass/_newstyle.scss */
  #start-btn .background {
    background: url("../img/play-green-btn.png") no-repeat top left;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: right; }
  /* line 70, ../sass/_newstyle.scss */
  #start-btn .desc {
    text-align: left;
    color: black;
    line-height: 32px;
    vertical-align: top;
    display: none; }
  /* line 82, ../sass/_newstyle.scss */
  #start-btn:hover, #start-btn:focus {
    width: 111px;
    padding-left: 10px; }
    /* line 85, ../sass/_newstyle.scss */
    #start-btn:hover .desc, #start-btn:focus .desc {
      display: inline-block; }

/* line 136, ../sass/_newstyle.scss */
#help .content, #help .page-screen {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; }

/* line 141, ../sass/_newstyle.scss */
#help {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  filter: blur(0px) !important;
  height: 0px;
  display: none; }
  /* line 145, ../sass/_newstyle.scss */
  #help .content {
    display: inline-block;
    margin: 0 20%;
    margin-top: 90px;
    position: absolute;
    z-index: 10001;
    top: 0;
    width: 60%;
    height: 80%;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0;
    padding: 10px;
    -webkit-box-shadow: 1px 0px 5px #333333;
    -moz-box-shadow: 1px 0px 5px #333333;
    box-shadow: 1px 0px 5px #333333; }
    /* line 160, ../sass/_newstyle.scss */
    #help .content h1 {
      font-family: "Open Sans Semibold", sans-serif;
      font-size: 26px;
      margin: auto;
      text-align: center;
      margin: 10px 0px; }
    /* line 167, ../sass/_newstyle.scss */
    #help .content #close-help {
      position: relative;
      float: right; }
  /* line 172, ../sass/_newstyle.scss */
  #help .page-screen {
    background-color: rgba(187, 187, 187, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20; }
  /* line 186, ../sass/_newstyle.scss */
  #help .content.show, #help .page-screen.show {
    display: inline-block;
    opacity: 1; }

/* line 197, ../sass/_newstyle.scss */
body .blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  filter: blur(8px); }

/* line 201, ../sass/_newstyle.scss */
#containeri, #containerp {
  width: 70%;
  display: inline-block; }
  /* line 204, ../sass/_newstyle.scss */
  #containeri canvas, #containerp canvas {
    width: 100% !important;
    display: inline-block; }

/* line 210, ../sass/_newstyle.scss */
#acc_ints {
  height: 350px;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  width: 25% !important; }
  /* line 216, ../sass/_newstyle.scss */
  #acc_ints h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 10px; }
  /* line 222, ../sass/_newstyle.scss */
  #acc_ints li {
    padding: 5px 0 5px 5px;
    font-size: 1.1em;
    border-top: 1px dashed #000; }
    /* line 226, ../sass/_newstyle.scss */
    #acc_ints li:first-child {
      border-top: none; }
    /* line 229, ../sass/_newstyle.scss */
    #acc_ints li.module {
      border: none; }
  /* line 233, ../sass/_newstyle.scss */
  #acc_ints a {
    clear: both;
    display: inline-block;
    vertical-align: top; }
    /* line 234, ../sass/_newstyle.scss */
    #acc_ints a img {
      width: 20px; }

/* Popup content CLASS */
/* line 245, ../sass/_newstyle.scss */
#materiales, #mat_puerta, #sel_interiores, #handles, #distribucionPuerta {
  overflow-y: scroll;
  height: 400px;
  clear: both;
  padding-top: 10px; }
  /* line 252, ../sass/_newstyle.scss */
  #materiales .content, #mat_puerta .content, #sel_interiores .content, #handles .content, #distribucionPuerta .content {
    width: 90%;
    margin: 0 5%; }
    /* line 255, ../sass/_newstyle.scss */
    #materiales .content .element, #mat_puerta .content .element, #sel_interiores .content .element, #handles .content .element, #distribucionPuerta .content .element {
      border-radius: 5px;
      margin: 3px 0;
      border: 3px solid rgba(0, 0, 0, 0.1);
      height: 15em;
      width: 32%;
      display: inline-block;
      -webkit-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.1s ease-in-out;
      -moz-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -moz-transform 0.1s ease-in-out;
      -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -o-transform 0.1s ease-in-out;
      transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s ease-in-out; }
      /* line 264, ../sass/_newstyle.scss */
      #materiales .content .element:hover, #mat_puerta .content .element:hover, #sel_interiores .content .element:hover, #handles .content .element:hover, #distribucionPuerta .content .element:hover {
        background-color: #dfb178;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        -moz-transform: scale3d(1.05, 1.05, 1.05);
        -ms-transform: scale3d(1.05, 1.05, 1.05);
        -o-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
      /* line 271, ../sass/_newstyle.scss */
      #materiales .content .element .picture img, #mat_puerta .content .element .picture img, #sel_interiores .content .element .picture img, #handles .content .element .picture img, #distribucionPuerta .content .element .picture img {
        margin: 5%;
        width: 90%;
        height: 10em; }
      /* line 277, ../sass/_newstyle.scss */
      #materiales .content .element .title, #mat_puerta .content .element .title, #sel_interiores .content .element .title, #handles .content .element .title, #distribucionPuerta .content .element .title {
        text-align: center;
        line-height: 20px;
        font-size: 1em;
        font-weight: bold;
        height: 5em; }

/* Popup de materiales */
/* line 290, ../sass/_newstyle.scss */
#sel_parent {
  font-size: 18px;
  height: 40px;
  position: relative;
  left: 10px;
  top: 10px; }

/* line 304, ../sass/_newstyle.scss */
#mat_puerta .content .element .title {
  line-height: 12px; }

/* line 317, ../sass/_newstyle.scss */
#handles .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 333, ../sass/_newstyle.scss */
#acc_ext .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 349, ../sass/_newstyle.scss */
#sel_interiores .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 365, ../sass/_newstyle.scss */
#distribucionPuerta .content .element .picture img {
  margin: 5% 5% 5% 28%;
  width: 41%;
  height: 10em; }

/* line 375, ../sass/_newstyle.scss */
#sel_marco {
  height: 350px;
  vertical-align: top;
  display: inline-block;
  width: 25% !important;
  margin-top: -5px; }
  /* line 381, ../sass/_newstyle.scss */
  #sel_marco #marco_sel {
    margin: 5px 0px 15px 0px;
    clear: both;
    display: block; }
    /* line 385, ../sass/_newstyle.scss */
    #sel_marco #marco_sel h2 {
      font-size: 1em;
      line-height: 1.5em;
      margin-top: -10px; }
    /* line 391, ../sass/_newstyle.scss */
    #sel_marco #marco_sel img {
      display: block;
      margin: 5px 0px;
      width: 75%; }

/* line 406, ../sass/_newstyle.scss */
.submit-button {
  background: -webkit-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: -moz-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: -o-linear-gradient(left top, #8dc059, #6aa436), #6aa436;
  background: linear-gradient(to right bottom, #8dc059, #6aa436), #6aa436;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #addc7e 0 1px 0;
  color: #31540c;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #447314; }
  /* line 429, ../sass/_newstyle.scss */
  .no-cssgradients .submit-button {
    background: url(semiems/img/site/button-shader.png) left center repeat-x, #6aa436; }
  /* line 435, ../sass/_newstyle.scss */
  .no-multiplebgs .submit-button {
    background-color: #6aa436; }
  /* line 439, ../sass/_newstyle.scss */
  .submit-button:hover, .submit-button:focus {
    text-shadow: #537a4a 0 1px 0;
    color: #FFF; }
  /* line 443, ../sass/_newstyle.scss */
  .submit-button:active {
    background: -webkit-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: -moz-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: -o-linear-gradient(top, #6aa436, #8dc059), #6aa436;
    background: linear-gradient(to bottom, #6aa436, #8dc059), #6aa436;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 449, ../sass/_newstyle.scss */
    .no-cssgradients .submit-button:active {
      background: url(semiems/img/site/button-shader.png) left center repeat-x, #5e9130; }
    /* line 455, ../sass/_newstyle.scss */
    .no-multiplebgs .submit-button:active {
      background-color: #5e9130;
      border-color: #FFF; }

/* line 461, ../sass/_newstyle.scss */
.kineticjs-content1 {
  position: relative;
  left: 200px;
  -webkit-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -moz-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -ms-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  -o-transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0);
  transform: perspective(800) scale3d(0.8, 0.8, 0.8) rotateY(40deg) translate3d(-200px, 0, 0); }

/* line 1, ../sass/_sections.scss */
.section {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease; }
  /* line 5, ../sass/_sections.scss */
  .section.show {
    opacity: 1;
    /*@include transform(scale3d(1,1,1));*/ }

/*
#wardrobe-create:target, #config:target {
	opacity: 1;
	@include transform(scale3d(1,1,1));
} 	

#wardrobe-create, #config {
	opacity: 0;
	@include transform(scale3d(5,5,5), translate(0,0,200px));
	@include transition(opacity .2s ease, transform .5s ease);
}
*/
/* line 25, ../sass/_sections.scss */
#config {
  height: 400px;
  clear: both;
  padding-top: 10px; }
  /* line 32, ../sass/_sections.scss */
  #config #admin_functions {
    width: 31%;
    margin: 0 4.5%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #c9b7a2;
    padding: 4.5%;
    background: -webkit-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: -moz-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: -o-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: linear-gradient(to right bottom, #ffffff, #eeeeee), white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4); }
  /* line 53, ../sass/_sections.scss */
  #config #normal_functions {
    width: 31%;
    margin: 0 4.5%;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #c9b7a2;
    padding: 4.5%;
    background: -webkit-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: -moz-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: -o-linear-gradient(left top, #ffffff, #eeeeee), white;
    background: linear-gradient(to right bottom, #ffffff, #eeeeee), white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(0, 0, 0, 0.4); }
  /* line 74, ../sass/_sections.scss */
  #config .delete {
    position: relative;
    float: right;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../img/close.png") no-repeat;
    background-size: 25px;
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease; }
    /* line 83, ../sass/_sections.scss */
    #config .delete:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }

/*    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;

    position: absolute;
    top: 50%;
    left: 50%;
*/
/* line 1, ../sass/_tabs.scss */
#tabs {
  position: relative;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(255, 255, 255, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4); }

/* line 11, ../sass/_tabs.scss */
.ui-tabs {
  zoom: 1; }
  /* line 13, ../sass/_tabs.scss */
  .ui-tabs .ui-tabs-nav {
    list-style: none;
    position: relative;
    padding: 2px 2px 0;
    overflow: hidden;
    top: 1px; }
    /* line 19, ../sass/_tabs.scss */
    .ui-tabs .ui-tabs-nav li {
      position: relative;
      float: left;
      border-bottom-width: 0 !important;
      margin: 0 2px -5px 0;
      /* Murray's */
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
      top: 5px; }
      /* line 32, ../sass/_tabs.scss */
      .ui-tabs .ui-tabs-nav li:hover {
        top: 0px; }
  /* line 37, ../sass/_tabs.scss */
  .ui-tabs .ui-tabs-panel {
    padding: 20px;
    display: block;
    border-width: 0;
    border: 1px solid #aa7e55;
    position: relative;
    min-height: 350px;
    height: 400px;
    background: #fff; }
  /* line 47, ../sass/_tabs.scss */
  .ui-tabs .ui-tabs-hide {
    display: none !important; }

/* line 52, ../sass/_tabs.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  z-index: 3;
  border: 1px solid #aa7e55;
  padding-bottom: 1px;
  border-bottom-width: 0;
  background: white;
  /* Murray's */
  position: relative;
  top: -2px;
  vertical-align: top;
  display: inline-block; }
  /* line 63, ../sass/_tabs.scss */
  .ui-tabs .ui-tabs-nav li.ui-tabs-selected span {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 15px;
    margin: 2px 2px 0px 0px;
    line-height: 15px;
    color: #463D35;
    background: #FFF;
    border: 2px solid #ccaf94;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: normal; }
  /* line 79, ../sass/_tabs.scss */
  .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    float: left;
    text-decoration: none;
    padding: 5px 10px;
    color: #463D35;
    font-weight: bold; }

/* line 88, ../sass/_tabs.scss */
li.ui-state-default {
  border-radius: 6px;
  height: 32px;
  background: #e4c983;
  border: 1px solid #ccaf94; }
  /* line 93, ../sass/_tabs.scss */
  li.ui-state-default span {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 15px;
    margin: 2px 2px 0px 0px;
    line-height: 15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #ccaf94;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  /* line 108, ../sass/_tabs.scss */
  li.ui-state-default a {
    float: left;
    text-decoration: none;
    padding: 5px 10px;
    color: #463D35; }

/* line 116, ../sass/_tabs.scss */
li.ui-state-disabled {
  background: black;
  border: 1px solid #ccaf94;
  cursor: none; }

/* line 122, ../sass/_tabs.scss */
li.shadowtab {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border: none;
  background: none;
  z-index: 2;
  -webkit-box-shadow: #111 0 -4px 6px;
  box-shadow: #111 0 -4px 6px; }

/* line 136, ../sass/_tabs.scss */
a.mover {
  padding: 6px 12px 6px 16px;
  position: absolute;
  text-decoration: none;
  background: #F76300;
  color: white; }

/* line 144, ../sass/_tabs.scss */
.next-tab {
  cursor: pointer;
  bottom: 0;
  right: 0;
  border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

/* line 152, ../sass/_tabs.scss */
.prev-tab {
  cursor: pointer;
  bottom: 0;
  left: 0;
  border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px; }
