@include sticky-footer(30px,"#all-footer","#pushfooter","footer");

a {
	cursor: pointer;
}
.row{
	background: white;
	@include box-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));

}
body{
	background: #e1c192 url(../img/wood_pattern_bn.jpg);
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	//height:auto !important;
	//margin-bottom:30px;  
}
footer{
	color:#fff;
	background: #3f3f3f !important;
	padding:5px;
	height:30px;
	//margin-top:30px !important;
}
#all-footer{
	//margin-bottom:30px;  
}
