//@include sticky-footer(10px,"footer");

a {
	cursor: pointer;
}
.row{
	background: white;

}
.row_b{
	@include grid-row(false);
}
body{
	background: #e1c192 url(../img/wood_pattern_bn.jpg);
}
footer{
	padding: 10px 0 25px 0;
	margin-top: 40px;
	color:#fff;
	background: #aaa;
	height:10px;
}
