%wardrobemenu{

	float: left;
	position: absolute;
	background-color: #fff;
	width: 320px;
	height: 300px;
	top: 100px;
	border-radius: 10px;
	padding: 20px;
	left: -330px;
	@include single-box-shadow;
	@include transition(all, ease-in-out, 0.3s);
	border: solid 5px rgba(#000, 0.1);
	text-align: center;
	//overflow-y: scroll;
	opacity:0.8;
	z-index: 1000;


}
#wardrobemenu {
	@extend %wardrobemenu;

	li {
		width:85%;
		padding: 10px;
		font-size: 1.5em;
		border-bottom: solid 1px rgba(#000, 0.3);
		//margin-bottom: 10px;
		&:last-child{
			border-bottom: none;
		}
		a {
		display: inline-block;
		text-decoration: none;
		}
		$size: 30px;
		$size_big: 35px;
		
		.delete{
			position: relative;
			float: right;
			display: inline-block;
			width: $size_big;
			height: $size_big;
			background: url('../img/menu-delete.png') no-repeat;
			background-size: $size;
			@include transition(background-size .2s ease);
			&:hover{
				background-size: $size_big;
			}
		}
		.edit{
			position: relative;
			float: right;
			margin: 0 10px;
			display: inline-block;
			width: $size_big;
			height: $size_big;
			background: url('../img/menu-edit.png') no-repeat;
			background-size: $size;
			@include transition(background-size .2s ease);
			&:hover {
				background-size: $size_big;
			}
		}
	}
	#link{
		position:absolute;
		right:8px;
		top:-3px;
		overflow:none;
		background: url('../img/menuOpen.png') no-repeat;

		width: 30px;
		height: 350px;
		z-index: 99999;
		cursor:pointer;
		&.close{
				background: url('../img/menuClose.png') no-repeat;
		}

	}
	&:hover {
		opacity:1;
		left: -319px;	
	}
	&.show {
		position: absolute;
		left: -5px;
		opacity:1;

	}
}


