.section {
	opacity: 0;
	//@include transform(scale3d(5,5,5), translate(0,0,200px));
	@include transition(opacity .1s ease/*, transform .3s ease*/);
	&.show {
		opacity: 1;
		/*@include transform(scale3d(1,1,1));*/
	}
}
/*
#wardrobe-create:target, #config:target {
	opacity: 1;
	@include transform(scale3d(1,1,1));
} 	

#wardrobe-create, #config {
	opacity: 0;
	@include transform(scale3d(5,5,5), translate(0,0,200px));
	@include transition(opacity .2s ease, transform .5s ease);
}
*/
$background-default: #fff;
$background-shader: linear-gradient(left top, #fff, #eee);

#config{
	height: 400px;
	$gutter: 9%;
	$between: $gutter/4;
	clear: both;
	padding-top: 10px;

	#admin_functions{
		width: 40% - $gutter;
		margin: 0 $gutter/2;
		//float:left;
		display:inline-block;
		background-color: #fff;
		border: 1px solid #c9b7a2;
    	padding: $gutter/2;
    	@include background(
		$background-shader,
		$background-default
		);
		@include border-radius(
			4px
			);
		@include box-shadow(
			0 2px 2px rgba(255,255,255,0.2),
			0 1px 5px rgba(255,255,255,0.2),
			0 0 0 12px rgba(0,0,0,0.4)
			);	
	}
	#normal_functions{
		width: 40% - $gutter;
		margin: 0 $gutter/2;
		display:inline-block;
		vertical-align: top;
		background-color: #fff;
		border: 1px solid #c9b7a2;
    	padding: $gutter/2;
    	@include background(
		$background-shader,
		$background-default
		);
		@include border-radius(
			4px
			);
		@include box-shadow(
			0 2px 2px rgba(255,255,255,0.2),
			0 1px 5px rgba(255,255,255,0.2),
			0 0 0 12px rgba(0,0,0,0.4)
			);
	}
	.delete{
		position: relative;
		float: right;
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url('../img/close.png') no-repeat;
		background-size: 25px;
		@include transition(transform .2s ease);
		&:hover{
			@include transform(scale(1.2));
		}
	}
}
/*    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;

    position: absolute;
    top: 50%;
    left: 50%;
*/
