@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

#popup {
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 1001;
}

#popup2 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.content-popup {
margin: 0px auto;
margin-top: 20px;
width: 700px;
min-height: 262px;
border-radius: 4px;
background-color: #FFFFFF;
box-shadow: 0 2px 5px #666666;
border: 1px solid #f2e3d2;
background: #c9b7a2;
background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
font-family: 'Helvetica Neue',Helvetica,sans-serif;
text-decoration: none;
vertical-align: middle;
padding: 10px;
}

.close {
    position: relative;
    float: right;
}

footer ul li img {
width: 170px;
height: 170px;
padding-left: 5px;
cursor: pointer;
float: left;

}

/* Tabs #tabs {width:100%;height:40px;}
#tabs li {float:left;margin-right:5px;}
#tabs li a { display:block; padding:3px 6px; text-decoration:none; }
#tabs li.on a { background:#F76300;color:#fff; } /* background for active tab */
/*
.tab {display:none;} /* hide tabs */
/*.tab {border:1px solid #ddd;padding:15px;border-bottom:2px solid;}

h2 {font-size:16px;line-height:24px;border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;} 
li a {-moz-border-radius:5px;-webkit-border-radius:5px;} 
a:hover {color:#000;} #links a {color:#fff;}
*/

/*Menu Arriba*/

nav ul {
margin: 0;
padding: 0;
list-style: none;
position: relative;
float: right;   
}

nav li {
  float: left;          
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

nav a {        
background-color: #d14545;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
background-image: -webkit-linear-gradient(top, #e97171, #d14545);
background-image: -moz-linear-gradient(top, #e97171, #d14545);
background-image: -ms-linear-gradient(top, #e97171, #d14545);
background-image: -o-linear-gradient(top, #e97171, #d14545);
background-image: linear-gradient(top, #e97171, #d14545);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-shadow: 0 1px 0 rgba(0,0,0,.5);
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
border: 1px solid #7e1515;
float: left;
height: 17px;
padding: 3px;
cursor: pointer;
font: bold 14px Arial, Helvetica;
color: #fff;
text-decoration: none;
}

nav a:hover,
nav a:focus {      
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(top, #d14545, #e97171);
}   

nav a:active {     
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;       
}

nav a::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}

        /*----------------------*/
        
        .cf:before,
        .cf:after {
          content:"";
          display:table;
        }
        
        .cf:after {
          clear:both;
        }
        
        .cf {
          zoom:1;
        }
          
        /*----------------------*/
        
        header {
          padding: 5px;
          -moz-box-shadow: 0 -3px 3px rgba(0,0,0,.5) inset;
          -webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.5) inset;
          box-shadow: 0 -3px 3px rgba(0,0,0,.5) inset;
        }
        
/*Tab 2 Popup*/
#mods_sel {
position: relative;
z-index: 2;
background: rgba(255, 255, 255, 0.24);
border: 1px solid rgb(240, 240, 240);
border-top-color: rgb(194, 194, 194);
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
margin: 66px auto;
padding: 8px;
overflow: hidden;
width: 682px;
}
#mods_sel a {
background: url(../img/icono2.png) no-repeat scroll 14px 11px #E55E48;
border-radius: 16px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
-ms-border-radius: 16px;
color: #fff;
display: inline-block;
float: left;
font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-weight: 400;
height: 91px;
line-height: 46px;
padding: 0 42px 0 94px;
text-transform: uppercase;
text-decoration: none;
text-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
transition: background-color 0.2s ease-out 0s;
width: 201px;
-moz-transition: background-color 0.2s ease-out 0s;
-webkit-moz-transition: background-color 0.2s ease-out 0s;
-o-moz-transition: background-color 0.2s ease-out 0s;
-ms-moz-transition: background-color 0.2s ease-out 0s;
}

#mods_sel a + span + a {
background: url(../img/icono.png) no-repeat scroll 261px 13px #5faae3;
padding: 0 94px 0 42px;
}

#mods_sel a + span {
background: url(../img/o.png) no-repeat 0px 18px;
display: block;
float: left;
height: 68px;
margin: 0 -22px;
position: relative;
text-indent: -9999px;
width: 51px;
z-index: 1;
}
#mods_sel a:hover { background-color: #454242 }
#title_popup{
    font-family: 'Open Sans Semibold' ,sans-serif;
font-size: 26px;
margin: auto;
text-align: center;
margin: 10px 0px;
}
.form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: rgb(0, 0, 0);
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }

   .submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
.text-form{
    font-family: 'Open Sans Semibold' ,sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
   }
